package components

templ Nav() {
	<nav class="flex justify-between p-5 fixed top-0 left-0 right-0">
		<h6>LOGO</h6>
		<ul class="flex gap-2">
			<li><a class="capitalize" href="/">home</a></li>
			<li><a class="capitalize" href="/about">about</a></li>
			<li><a class="capitalize" href="/contacts">contacts</a></li>
		</ul>
	</nav>
}
